<div class="mobile-menu" *ngIf="isOpen">
  <div class="menu-content">
    <button class="close-btn" (click)="closeMenuHandler()">×</button>
    <div class="menu-items">
      <a href="/home" class="menu-item" (click)="navigate('')">Home</a>
      <a href="/contact" class="menu-item" (click)="navigate('/contact')">Contact</a>
    </div>
    <div class="footer">
      <a href="https://instagram.com" target="_blank" class="social-icon">
        <img src="https://img.icons8.com/ios-filled/50/ffffff/instagram-new.png" alt="Instagram">
      </a>
      <a href="https://facebook.com" target="_blank" class="social-icon">
        <img src="https://img.icons8.com/ios-filled/50/ffffff/facebook-new.png" alt="Facebook">
      </a>
      <a href="https://youtube.com" target="_blank" class="social-icon">
        <img src="https://img.icons8.com/?size=100&id=37326&format=png&color=ffffff" alt="Youtube">
      </a>
    </div>
  </div>
</div>