<div class="container">
    <div class="gallery">
        <div class="gallery-item" (click)="navigate('/live')">
            <img src="https://images.pexels.com/photos/26707538/pexels-photo-26707538/free-photo-of-nieve-nevar-naturaleza-bosque.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="LIVE">
            <div class="caption">LIVE</div>
        </div>
        <div class="gallery-item" (click)="navigate('/artist')">
            <img src="https://images.pexels.com/photos/53581/bald-eagles-bald-eagle-bird-of-prey-adler-53581.jpeg?auto=compress&cs=tinysrgb&w=600"
                alt="EXPERIENCE">
            <div class="caption">ARTIST</div>
        </div>
        <div class="gallery-item" (click)="navigate('/portraits')">
            <img src="https://images.pexels.com/photos/572861/pexels-photo-572861.jpeg?auto=compress&cs=tinysrgb&w=600"
                alt="ARTIST">
            <div class="caption">PORTRAITS</div>
        </div>
        <div id="mov" class="gallery-item" (click)="navigate('/landscape')">
            <img src="https://images.pexels.com/photos/3220368/pexels-photo-3220368.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="STUDIO">
            <div class="caption">LANDSCAPE</div>
        </div>
        <div id="mov" class="gallery-item" (click)="navigate('/events')">
            <img src="https://images.pexels.com/photos/37833/rainbow-lorikeet-parrots-australia-rainbow-37833.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="STUDIO">
            <div class="caption">EVENTS</div>
        </div>
    </div>
    <div class="gallery-banner">
        <div class="gallery-banner-item" (click)="navigate('/landscape')">
            <img src="https://images.pexels.com/photos/3220368/pexels-photo-3220368.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="STUDIO">
            <div class="caption">LANDSCAPE</div>
        </div>
        <div class="gallery-banner-item" (click)="navigate('/events')">
            <img src="https://images.pexels.com/photos/37833/rainbow-lorikeet-parrots-australia-rainbow-37833.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="STUDIO">
            <div class="caption">EVENTS</div>
        </div>
    </div>
</div>