<div class="container">
    <div class="gallery">
        <div class="gallery-item" (click)="navigate('/live')">
            <img src="assets/live.jpg"
                alt="LIVE">
            <div class="caption">LIVE</div>
        </div>
        <div class="gallery-item" (click)="navigate('/artist')">
            <img src="assets/artist.jpg"
                alt="EXPERIENCE">
            <div class="caption">ARTIST</div>
        </div>
        <div class="gallery-item" (click)="navigate('/portraits')">
            <img src="assets/portraits.jpg"
                alt="ARTIST">
            <div class="caption">PORTRAITS</div>
        </div>
        <div class="gallery-item" (click)="navigate('/landscape')">
            <img src="assets/landscape.jpg"
                alt="STUDIO">
            <div class="caption">LANDSCAPE</div>
        </div>
        <div class="gallery-item" (click)="navigate('/events')">
            <img src="assets/events.jpg"
                alt="STUDIO">
            <div class="caption">EVENTS</div>
        </div>
    </div>
</div>