<header>
    <div class="container">
        <h1>Galería de Fotografía</h1>
    </div>
</header>

<div class="container">
    <div class="gallery">
        <div class="gallery-item">
            <img src="https://images.pexels.com/photos/26707538/pexels-photo-26707538/free-photo-of-nieve-nevar-naturaleza-bosque.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="LIVE">
            <div class="caption">LIVE</div>
        </div>
        <div class="gallery-item">
            <img src="https://images.pexels.com/photos/53581/bald-eagles-bald-eagle-bird-of-prey-adler-53581.jpeg?auto=compress&cs=tinysrgb&w=600" alt="EXPERIENCE">
            <div class="caption">EXPERIENCE</div>
        </div>
        <div class="gallery-item">
            <img src="https://images.pexels.com/photos/572861/pexels-photo-572861.jpeg?auto=compress&cs=tinysrgb&w=600" alt="ARTIST">
            <div class="caption">ARTIST</div>
        </div>
        <div class="gallery-item">
            <img src="https://images.pexels.com/photos/3220368/pexels-photo-3220368.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="STUDIO">
            <div class="caption">STUDIO</div>
        </div>
        <!-- Agrega más fotos aquí -->
    </div>
</div>
<app-footer></app-footer>