<footer>
    <div class="container">
        <div class="social-media">
            <a href="https://facebook.com" target="_blank" class="social-icon">
                <img src="https://img.icons8.com/ios-filled/50/000000/facebook-new.png" alt="Facebook">
            </a>
            <a href="https://twitter.com" target="_blank" class="social-icon">
                <img src="https://img.icons8.com/ios-filled/50/000000/twitter.png" alt="Twitter">
            </a>
            <a href="https://instagram.com" target="_blank" class="social-icon">
                <img src="https://img.icons8.com/ios-filled/50/000000/instagram-new.png" alt="Instagram">
            </a>
            <a href="https://linkedin.com" target="_blank" class="social-icon">
                <img src="https://img.icons8.com/ios-filled/50/000000/linkedin.png" alt="LinkedIn">
            </a>
        </div>
        <div class="signature">
            <p>Fotografía por <strong>Katherine Moreno</strong></p>
        </div>
    </div>
</footer>