<nav class="navbar">
    <div class="navbar-void"></div>
    <div class="navbar-left">
        <button class="nav-button" (click)="navigate('')">Home</button>
        <button class="nav-button" (click)="navigate('/contact')">Contact</button>
    </div>
    <div class="navbar-center">
        <img src="https://img.icons8.com/?size=100&id=33901&format=png&color=000000" alt="Logo" class="logo">
    </div>
    <div class="navbar-right">
        <a href="https://instagram.com" target="_blank" class="social-icon">
            <img src="https://img.icons8.com/ios-filled/50/000000/instagram-new.png" alt="Instagram">
        </a>
        <a href="https://facebook.com" target="_blank" class="social-icon">
            <img src="https://img.icons8.com/ios-filled/50/000000/facebook-new.png" alt="Facebook">
        </a>
        <a href="https://youtube.com" target="_blank" class="social-icon">
            <img src="https://img.icons8.com/?size=100&id=37326&format=png&color=000000" alt="Youtube">
        </a>
    </div>
    <div class="menu-icon" (click)="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <app-mobil-menu [isOpen]="isMenuOpen" (closeMenu)="toggleMenu()"></app-mobil-menu>
</nav>