html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Raleway";
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    color: #0e0d0d;
    background-color: #f4f4f4;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #bbb 1px solid;
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 2em;
}